html {
  font-family: Helvetica;
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.site-title {
  background-color: black;
  display: block;
  color: white;
}

.site-title .container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.site-title img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.site-title h4 {
  margin: 0.66rem auto;
  display: flex;
  flex-grow: 1;
}

h4 {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}

header {
  background-image: url("/Users/jennykijowski/Desktop/Professional_Development/CodeAcademy/SecretAgentSupply/resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 25rem;
}

.featured {
  background-color: black;
  width: 20rem;
  display: block;
  position: relative;
  top: 9rem;
}

.featured h4 {
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
  padding-left: 3rem;
}

.featured h1 {
  padding-left: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
  color: white;
  display: block;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.product-grid {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 3rem;
}

.box {
  border: 4px solid black;
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.product-image img {
  max-width: 8rem;
}

.box h4 {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
